.card___container{
  position: relative; /* posiciona outros elementos a frente do card*/
  border: 3px solid #3E4357;
  border-radius: 10px;
  width: 350px;
  height: 500px;
  display: flex;
  overflow: hidden ; /*qualquer elemento que saia de dentro do card fica invisível, serve para adequar imagem dentro do parametro de altura e largura estabelecindo para  o componente*/
  margin-top: 10px;
}

.card__img{
  min-width: 100%;
  min-height: 100%;
  transition: transform .4s;/* transform é uma propriedade que muda o estado do elemento */
}

.card__img:hover{
transform: scale(1.1); /*aumanda a estacala do elemento na interação */
}
