<div class="container__home">
  <app-card
  video="https://youtu.be/-pUhraVG7Ow"
  gamePhoto="assets/ac-cover.jpg"
  gameLabel="Exclusivo"
  gameType ="PS4"
  gamePrice="288,99"
  ></app-card>

  <app-card
  video="https://youtu.be/c7nRTF2SowQ"
  gamePhoto="assets/bt-1.jpg"
  gameLabel="Gold"
  gameType ="PS2|pS3"
  gamePrice="220,35"
  ></app-card>

  <app-card
  video="https://youtu.be/P9fK77eE7fs"
  gamePhoto="assets/bt-4.jpg"
  gameLabel="Extreme"
  gameType ="PS3 | PS4 |PS5"
  gamePrice="320,99"
  ></app-card>

  <app-card
  video="https://youtu.be/fb1MR85XFOc?t=1"
  gamePhoto="assets/bt-5.jpg"
  gameLabel="New launch"
  gameType ="PS4|pS5"
  gamePrice="450,99"
  ></app-card>

  <app-card
  video="https://youtu.be/XMbW9EwxpME?t=5"
  gamePhoto="assets/bt-bad-company-2.jpg"
  gameLabel="Exclusivo"
  gameType ="PS2|pS3"
  gamePrice="189,90"
  ></app-card>

  <app-card
  video="https://youtu.be/yWVPoUCxAC4"
  gamePhoto="assets/bt-hardline.jpg"
  gameLabel="New Experience"
  gameType ="PS2|pS3"
  gamePrice="189,90"
  ></app-card>
</div>
