<div class="menu-bar__container">
<div class="menu-bar__logo ">
<img
 src="assets/ps-logo.png"
 alt=""
 srcset=""
 width="140px"
 height="32px">
</div>
<div class="meu-bar__itens">
<ul>
  <li><a href="https://www.linkedin.com/in/bruno-alcantara-23a71219b/" target="_blank">
    <img src="https://w7.pngwing.com/pngs/93/587/png-transparent-linkedin-logo-linkedin-logo-computer-icons-business-symbol-linkedin-icon-miscellaneous-blue-angle-thumbnail.png"
     alt="linkedin">
  </a></li>
  <li><a href="https://www.instagram.com/alcantaramugen/" target="_blank">
    <img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-icon-png-image_6315974.png"
    alt="instagram">
  </a></li>
  <li><a href="https://github.com/BrunoAlcantaraGit" target="_blank">
   <img src="https://w7.pngwing.com/pngs/670/396/png-transparent-computer-icons-github-icon-design-logo-github-cat-like-mammal-carnivoran-logo-thumbnail.png"
   alt="Github">
</a></li>

</ul>
</div>
</div>
